<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>Spacex</title> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap-theme/3.2.0/css/bootstrap-theme.min.css">
</head>
<body bgcolor="white">
        <style>
               
                .page-header{
                    padding: 20px 20px 20px 40px;
                    background-color: rgb(248, 198, 40);
                }
                .page-header h1{
                    color:black;
                    font-size: 36pt;
                    font-family: 'Lobster';
                }
                .ft{
                    font-size:22px;
                }
        </style>
        <div class="page-header">
    
                <h1>Edit</h1>
                
                <!-- <a href="accounts/register">Register</a> -->
            </div>
    <form action="{% url 'update' p=dm.idn %}">
        <span class="ft" style="margin-left: 15px">Subject Name: {{dm.subject_name}}</span><br><br>
        <span class="ft" style="margin-left: 15px">Total Lectures: <input type="text" value='{{dm.total_lectures}}' name="totallectures"></span><br><br>
        <span class="ft" style="margin-left: 15px">Missed Lectures: <input type="text" value='{{dm.missed_lectures}}' name="missedlectures"></span><br><br>

        <span class="ft"style="margin-left: 15px"> Attended Lectures: <input type="text" value='{{dm.attended_lectures}}' name="attendedlectures"></span> <br><br>
        <input type="submit" id="button123" style="margin-left: 15px" >

        
    </form>
    
    
</body>
</html>
